#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: auto;
}

body {
  background-color: #495057;
  color: white;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 46px;
  margin-top: auto;
}

.sorter {
  cursor: pointer;
}

th.sorter:focus,
th.sorter:active {
  text-decoration: underline;
}

input {
  padding-left: 10px;
}

